@using userprofile.Models;
@model Tuple<AspNetUser, List<PLAYER>, List<TEAM>, List<TOURNAMENT>>


<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>

<p hidden id="UserID">@Model.Item1.Id</p>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @{
                    if (User.IsInRole("Admin") || User.IsInRole("Organizer"))
                    {
                       @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.UserName }, new { @class = "btn btn-warning pull-right" })
						if (User.IsInRole("Admin")) {
							if (Model.Item1.AspNetRoles.Where(qual => qual.Id == "1").Count() == 0) {
								<button id="MakeAdmin" type="button" class="btn btn-danger pull-right">Make Admin</button>
							}
							else {
								<button id="MakeAdmin" type="button" class="btn btn-danger pull-right">Remove Admin</button>
							}
						}
					}
					else if (User.Identity.Name == Model.Item1.UserName) {
                        <a class=" btn btn-warning pull-right" href='@Url.Action("SelfEdit", "Account")'>Edit my details</a>
					}
					
				}
                
                
                @foreach (var i in Model.Item1.AspNetRoles) {
					switch (i.Id) {
						case "1": //Admin
							<span class="label label-default">@i.Name</span>
							
							break;
						case "2": //Player
						<span class="label label-primary">@i.Name</span>
							break;
						case "3": //Referee
						<span class="label label-info">@i.Name</span>


							break;
						case "4": //Tournament Organizer
						<span class="label label-warning">@i.Name</span>
							break;
						case "5": //Team Manager
						<span class="label label-danger">@i.Name</span>
							break;
						default:
							@:ERROR!
							break;
					}
					
				}
				
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Username
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Item1.UserName)
                    </dd>

                    <dt>
                        <b>Name </b>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Item1.firstName) @Html.DisplayFor(model => model.Item1.lastName)
                    </dd>

                    <dt>
                        <b>FFA#</b>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Item1.ffaNum)

                    </dd>
                    
                        @{
                            if(Model.Item1.willingToshowEmail || User.IsInRole("Admin")){
                                <dt>
                                    Email
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Item1.email)
                                </dd>
                            }
                        }
                                        
                        @{
                            if (Model.Item1.willingToShowPhoneNum || User.IsInRole("Admin"))
                            {
                                <dt>
                                    Phone Number
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Item1.phoneNum)
                                </dd>
                            }
                        }
                  
                        @{
                            if (Model.Item1.willingToShowDOB || User.IsInRole("Admin"))
                            {
                                <dt>
                                    Date of Birth
                                </dt>
                                <dd>
                                     @Html.DisplayFor(model => model.Item1.dob)
                                </dd>
                            }
                        }
						@if (Model.Item1.gender == 1 || Model.Item1.gender == 2 || Model.Item1.gender == 3) {
							<dt>
								Gender
							</dt>
							<dd>
								@if (Model.Item1.gender == 1) {
									@:Male
								}
								else if (Model.Item1.gender == 2) { 
									@:Female
								}
								else if (Model.Item1.gender == 3) {
									@:Other
								}
							</dd>
						}
                </dl>
            </div>
        </div>


        @if (Model.Item2.Count > 0)
        { //if there is no team data, don't display the table

            <h1>Plays in these teams</h1>
        <div class="box">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tournament Name</th>
                                <th>Team Name</th>
                                <th>Position</th>
                                <th>Shirt Number</th>
                            </tr>
                        </thead>
                        <tbody>
                           @{foreach (var item in Model.Item2)
                            {
                                foreach(var teamIns in item.TEAM.TEAMINS){

                                        <tr>
                                            <td>
                                                <a href="@Url.Action("Details", "team", new { id = teamIns.tournament })">
                                                    @teamIns.TOURNAMENT1.name
                                                </a>

                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", "team", new { id = item.teamId })">
                                                    @item.TEAM.name
                                                </a>

                                            </td>
                                            <td>
                                                @item.position
                                            </td>
                                            <td>
                                                @item.shirtNum
                                            </td>
                                        </tr>
                                 }
                             }
                                
                            }
                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>    
        }
        @if (Model.Item3.Count > 0)
        { //if there is no teamManagement data, don't display the table

            <h1>Manages these teams</h1>
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tournament</th>
                                    <th>Tournament Date</th>
                                    <th>Sport</th>
                                    <th>Team Name</th>
                                    <th>grade</th>
                                    <th>Age bracket</th>
                                    <th>Points</th>
                                    <th>Losses</th>
                                    <th>Draws</th>
                                    <th>Wins</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{foreach (var item in Model.Item3)
                                {
                                    foreach (var team in item.TEAMINS) //make sure to display all instances they play too
                                    {
                                        <tr>
                                        <td>
                                            <a href="@Url.Action("Details", "Tournament", new { id = team.tournament })">
                                                @team.TOURNAMENT1.name
                                            </a>

                                        </td>
                                        <td>
                                                @team.TOURNAMENT1.startDate
                                        </td>
                                        <td>
                                            @team.TOURNAMENT1.sport
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Details", "team", new { id = item.teamId })">
                                                @item.name
                                            </a>
                                        </td>
                                        <td>
                                            @item.grade
                                        </td>
                                        <td>
                                            @item.ageBracket
                                        </td>
                                        <td>
                                           @team.points
                                        </td>
                                        <td>
                                            @team.losses
                                        </td>
                                        <td>
                                            @team.draws
                                        </td>
                                        <td>
                                            @team.wins
                                        </td>
                                    </tr>
                                    }


                                }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        }
        @if (Model.Item4.Count > 0)
        { //if there is no team data, don't display the table

            <h1>Runs these tournaments</h1>
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tournament</th>
                                    <th>Start Date</th>
                                    <th>Grade</th>
                                    <th>Age Bracket</th>
                                    <th>Sport</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{foreach (var item in Model.Item4)
                                {

                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Details", "Tournament", new { id = item.tournamentId })">
                                                @item.name
                                            </a>
                                        </td>
                                        <td>
                                            @item.startDate
                                        </td>
                                        <td>
                                            @item.grade
                                        </td>
                                        <td>
                                            @item.ageBracket
                                        </td>
                                        <td>
                                            @item.sport
                                        </td>
                                    </tr>

                                }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        }

    </div>
</div>

<script>
	$("#MakeAdmin").click(function () {
			if (confirm("Are you sure you want to do this?") == true) {
				var i = parseInt($("#UserID").text());
				$.ajax({
					type: "POST",
					url: '@Url.Action("makeAdmin", "Account")',
					data: {'userID' : i },
					datatype: 'json',
					success: function () {
						location.reload();
					}
				});
				
			}
	});



        $('#tournament').change(function () {
        	var tournId = $(this).val();
        	$.ajax({
        		type: "POST",
        		url: '@Url.Action("getTeamsFromTournament", "match")',
        		data: { 'tournamentId': tournId },
        		datatype: "json",
        		success: function (data) {
        			var homeTeam = $('#teamaID');
        			homeTeam.empty();
        			$.each(data, function (val, text) {
        				homeTeam.append(
							$('<option></option>').val(text.Value).html(text.Text)
						);
        			});
        			var awayTeam = $('#teambID');
        			awayTeam.empty();
        			$.each(data, function (val, text) {
        				awayTeam.append(
							$('<option></option>').val(text.Value).html(text.Text)
						);
        			});
        			awayTeam.val(2);
        		},
        	})
        });
	</script>