@using userprofile.Models;
@model Tuple<AspNetUser, List<PLAYER>, List<TEAM>, List<TOURNAMENT>>


<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @{
                    if (User.IsInRole("Admin"))
                    {
                       @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.UserName }, new { @class = "btn btn-warning pull-right" })
                    }
                    else if (User.Identity.Name == Model.Item1.UserName)
                    {
                        <a class=" btn btn-block btn-success" href='@Url.Action("SelfEdit", "Account")'><b>Edit my details</b></a>
                    }
                }
                
                <div class="fa fa-angle-left">
                    @Html.ActionLink(" Back to users", "Index")
                </div>
                <hr />

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.UserName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Item1.UserName)

                    </dd>

                    <dt>
                        <b>Name </b>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Item1.firstName) @Html.DisplayFor(model => model.Item1.lastName)
                    </dd>

                    <dt>
                        <b>ffa# if applicable</b>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Item1.ffaNum)

                    </dd>
                    
                        @{
                            if(Model.Item1.willingToshowEmail || User.IsInRole("Admin")){
                                <dt>
                                    @Html.DisplayNameFor(model => model.Item1.email)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Item1.email)
                                </dd>
                            }
                        }
                                        
                        @{
                            if (Model.Item1.willingToShowPhoneNum || User.IsInRole("Admin"))
                            {
                                <dt>
                                    @Html.DisplayNameFor(model => model.Item1.phoneNum)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Item1.phoneNum)
                                </dd>
                            }
                        }
                  
                        @{
                            if (Model.Item1.willingToShowDOB || User.IsInRole("Admin"))
                            {
                                <dt>
                                    @Html.DisplayFor(model => model.Item1.dob)
                                </dt>
                                <dd>
                                     @Html.DisplayFor(model => model.Item1.dob)
                                </dd>
                            }
                        }
                                       
                </dl>
            </div>
        </div>


        @if (Model.Item2.Count > 0)
        { //if there is no team data, don't display the table

            <h1>Plays in these teams</h1>
        <div class="box">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Position</th>
                                <th>Shirt Number</th>
                            </tr>
                        </thead>
                        <tbody>
                           @{foreach (var item in Model.Item2)
                            {

                                        <tr>
                                            <td>
                                                <a href="@Url.Action("Details", "team", new { id = item.teamId })">
                                                    @item.TEAM.name
                                                </a>

                                            </td>
                                            <td>
                                                @item.position
                                            </td>
                                            <td>
                                                @item.shirtNum
                                            </td>
                                        </tr>
                                    }
                                
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>    
        }
        @if (Model.Item3.Count > 0)
        { //if there is no teamManagement data, don't display the table

            <h1>Manages these teams</h1>
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tournament</th>
                                    <th>Tournament Date</th>
                                    <th>Sport</th>
                                    <th>Team Name</th>
                                    <th>grade</th>
                                    <th>Age bracket</th>
                                    <th>Points</th>
                                    <th>Losses</th>
                                    <th>Draws</th>
                                    <th>Wins</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{foreach (var item in Model.Item3)
                                {
                                    foreach (var team in item.TEAMINS) //make sure to display all instances they play too
                                    {
                                        <tr>
                                        <td>
                                            <a href="@Url.Action("Details", "Tournament", new { id = team.tournament })">
                                                @team.TOURNAMENT1.name
                                            </a>

                                        </td>
                                        <td>
                                                @team.TOURNAMENT1.startDate
                                        </td>
                                        <td>
                                            @team.TOURNAMENT1.sport
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Details", "team", new { id = item.teamId })">
                                                @item.name
                                            </a>
                                        </td>
                                        <td>
                                            @item.grade
                                        </td>
                                        <td>
                                            @item.ageBracket
                                        </td>
                                        <td>
                                           @team.points
                                        </td>
                                        <td>
                                            @team.losses
                                        </td>
                                        <td>
                                            @team.draws
                                        </td>
                                        <td>
                                            @team.wins
                                        </td>
                                    </tr>
                                    }


                                }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        }
        @if (Model.Item4.Count > 0)
        { //if there is no team data, don't display the table

            <h1>Runs these tournaments</h1>
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tournament</th>
                                    <th>Start Date</th>
                                    <th>Grade</th>
                                    <th>Age Bracket</th>
                                    <th>Sport</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{foreach (var item in Model.Item4)
                                {

                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Details", "Tournament", new { id = item.tournamentId })">
                                                @item.name
                                            </a>
                                        </td>
                                        <td>
                                            @item.startDate
                                        </td>
                                        <td>
                                            @item.grade
                                        </td>
                                        <td>
                                            @item.ageBracket
                                        </td>
                                        <td>
                                            @item.sport
                                        </td>
                                    </tr>

                                }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        }

    </div>
</div>