@model IEnumerable<userprofile.Models.EditUserViewModel>

@{
    ViewBag.Title = "User Management";
}


<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<div class="row">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                   FFA Number
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                        {
                        <tr>
                            <td>

                                
                                    
                                
                                <a href="@Url.Action("Details", new { id = item.UserName })">
                                    @Html.DisplayFor(modelItem => item.UserName)
                                    </a>

</td>
                            @*<td>
                        @Html.DisplayFor(modelItem => item.winnerID)
                    </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ffaNum)
                            </td>
                            <td>
                                
                                @Html.ActionLink("Change UserRoles", "UserRoles", new { id = item.UserName }, new { @class = "btn bg-purple pull-right" })
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.UserName }, new { @class = "btn btn-danger pull-right" })*@
                                    @Html.ActionLink("Edit", "Edit", new { id = item.UserName }, new { @class = "btn btn-warning pull-right" })
</td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
                </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div class="col-md-3">

            <div class="btn-group">
                <div class="btn btn-block btn-primary btn-file" id="buttongroup_import">
                    <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Import Excel
                    <input id="input-4" type="file" onchange="uploadFile();">
                </div>
                <a class=" btn btn-block btn-success" href='@Url.Action("Register","Account")'><b>Create New User</b></a>
            </div>
            
        </div>
        <div class="col-md-9">
            <div class="well well-sm" id="myDiv" hidden>lol</div>
        </div>
        </div><!-- /.col -->

    
</div><!-- /.row -->

<script>


    function uploadFile() {
        //   myApp(); //show dialog
        var file = document.getElementById('input-4').files[0];
        var formData = new FormData();
        formData.append("file_name", file);
        formData.append("type", "user")
        ajax = new XMLHttpRequest();

        ajax.onreadystatechange = function () {
            if (ajax.readyState == 4 && ajax.status == 200) {
                $("#myDiv").show();
                document.getElementById("myDiv").innerHTML = ajax.responseText;
            }
        }

        //   ajax.upload.addEventListener("progress", progressHandler, false);
        //    ajax.addEventListener("load", completeHandler, false);
        ajax.open("POST", "/ExcelManagement/importXml");
        ajax.send(formData);

    }





</script>

