@model IEnumerable<userprofile.Models.EditUserViewModel>

@{
    ViewBag.Title = "User Management";
}


<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<div class="row">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                   FFA Number
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                        {
                        <tr>
                            <td>

                                
                                    @Html.DisplayFor(modelItem => item.UserName)
                                
                                @*@Html.ActionLink("Details", "Details", new { id = item.mID })*@


                            </td>
                            @*<td>
                        @Html.DisplayFor(modelItem => item.winnerID)
                    </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ffaNum)
                            </td>
                            <td>
                                
                                @Html.ActionLink("Change UserRoles", "UserRoles", new { id = item.UserName }, new { @class = "btn bg-purple pull-right" })
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.UserName }, new { @class = "btn btn-danger pull-right" })*@
                                    @Html.ActionLink("Edit", "Edit", new { id = item.UserName }, new { @class = "btn btn-warning pull-right" })
</td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
                </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div class="col-md-12">

            <div class="btn-group">
                <a class=" btn btn-block btn-success" href='@Url.Action("Register","Account")'><b>Create New User</b></a>
            </div>
        </div>
    </div><!-- /.col -->

    
</div><!-- /.row -->


