@model userprofile.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <hr />
                    @*@Html.ValidationSummary()*@
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                 @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        @*<div class="form-group">
                @Html.LabelFor(m => m.country, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.country, new { @class = "form-control" })
                </div>
            </div>*@
                        <div class="form-group row" hidden>
                            @Html.LabelFor(m => m.dob, new { @class = "col-md-2 control-label" })

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.dob)
                                @Html.ValidationMessageFor(model => model.dob)

                            </div><div class="col-md-2 " id="dobinfor"></div>
                        </div>
                        @*<div class="form-group">
                @Html.LabelFor(m => m.street, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.street, new { @class = "form-control" })
                </div>
            </div>*@

                        @*<div class="form-group">
                @Html.LabelFor(m => m.postcode, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.postcode, new { @class = "form-control" })
                </div>
            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.phoneNum, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.phoneNum, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.phoneNum)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Getroles</label>
                            <div class="col-md-10">
                                @Html.Action("Getroles", "Account")
                            </div>
                        </div>
                        <div class="" id="reForm" hidden>
                            <div class="form-group">
                                @Html.LabelFor(model => model.optionalRe.re.distTravel, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.optionalRe.re.distTravel)
                                    @Html.ValidationMessageFor(model => model.optionalRe.re.distTravel)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.optionalRe.re.sport, "sport", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">

                                    @Html.DropDownList("sport", (SelectList)ViewBag.sport, new { @Name = "optionalRe.re.sport" })
                                    @Html.ValidationMessageFor(model => model.optionalRe.re.sport)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.optionalRe.re.maxGames, "maxgame", new { @class = "control-label col-md-2", value = "4" })
                                <div class="col-md-10">

                                    @Html.EditorFor(model=>model.optionalRe.re.maxGames)
                                    @Html.ValidationMessageFor(model => model.optionalRe.re.maxGames)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.optionalRe.re.rating, "rating", new { @class = "control-label col-md-2",value="4" })
                                <div class="col-md-10">

                                    @Html.EditorFor(model => model.optionalRe.re.rating)
                                    @Html.ValidationMessageFor(model => model.optionalRe.re.rating)
                                </div>
                            </div>

                            @*<div class="form-group">
                @Html.LabelFor(model => model.optionalRe.re.ID, "ID", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ID", (SelectList)ViewBag.ID, new { @Name = "re.ID" })
                    @Html.ValidationMessageFor(model => model.optionalRe.re.ID)
                </div>
            </div>*@

                            <div class="form-group">
                                <div class="control-label col-md-2">
                                   <b> Select qual</b>
                                </div>

                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.optionalRe.srqvm.quals)
                                </div>
                            </div>

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(m => m.upload, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.upload, new { type = "file", @class = "col-md-10" })

                        </div>
                    </div>
                            @Html.EditorFor(m => m.residentLoc)
                        
                    </div>
                   


                    
                   

                    <div id="refereedetail">

                    </div>
                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-success" value="Register" />
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('input[name="dob"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoApply: true,
                startDate: '01/01/1991',

            },
            function (start, end, label) {
                var years = moment().diff(start, 'years');
                $("#dobinfor").empty();
                $("#dobinfor").append("<span class='label label-default'>" + years + "years old</span> ");

            });
        });
        

        $('#Roles').change(function () {
            if ($(this).val() == 'Referee') {
                $('#reForm').show("slow", function () {

                });


            } else {

                $('#reForm').hide("slow", function () {
                    
                });
            }
        }

        );</script>
}
