@model userprofile.Models.SelectUserRolesViewModel

@{
    ViewBag.Title = "User Roles";
}
<div class="row">
    <div class="col-sm-6">
        <div class="box">
            <div class="box-body">
                <div class="fa fa-angle-left">
                    @Html.ActionLink(" Back to List", "Index")
                </div>
                
                <hr />
                <h2>Roles for user @Html.DisplayFor(model => model.UserName)</h2>
                @using (Html.BeginForm("UserRoles", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.UserName)
                            </div>
                        </div>
                        <h4>Select Role Assignments</h4>

                        <div class="form-group">
                            <div class="col-md-10">

                                @Html.EditorFor(model => model.Roles)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </div>




                       

                    </div>
                }
            </div>
        </div>
</div>
</div>