@model IEnumerable<userprofile.Models.QUALIFICATION>

@{
   
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-body">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.supDesc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SPORT1.name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.supDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SPORT1.name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.qID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.qID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.qID })
                            </td>
                        </tr>
                    }

                </table>
</div>
            </div>
        </div>
    </div>
