@model IEnumerable<userprofile.Models.TOURNAMENT>
@{
    ViewBag.Title = "Tournament History";
}
<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Tournmant History</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body " style="display: block;">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Start Date
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    Grade
                                </th>
                                <th>
                                    Manager
                                </th>
                                <th>
                                    Sport
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action( "Details", new { id = item.tournamentId })">
                                            @Html.DisplayFor(modelItem => item.name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.startDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ageBracket)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.grade)
                                    </td>
                                    <td>
										<a href="@Url.Action("Details", "Account", new { id = item.AspNetUser.UserName })">
											@Html.DisplayFor(modelItem => item.AspNetUser.UserName)
											</a>
</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SPORT1.name)
                                    </td>
                                    <td>
										@if (User.IsInRole("Admin")) {
											@Html.ActionLink("Delete", "Delete", new { id = item.tournamentId }, new { @class = "btn btn-danger pull-right" })
										}
                                        @Html.ActionLink("Edit", "Edit", new { id = item.tournamentId }, new { @class = "btn btn-warning pull-right" })
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group">

    @if (User.IsInRole("Admin"))
    {
        <a class=" btn btn-block btn-success" href='@Url.Action("Create","tournament")'><b>Create New Tournamant</b></a>
    }
    <a class=" btn btn-block btn-success" href='@Url.Action("index", "tournament")'><b>Tournament Index</b></a>
</div>