@model IEnumerable<userprofile.Models.TOURNAMENT>

@{
    ViewBag.Title = "Tournament list";
}

<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="row">
    <div class="col-xs-12">

        <h1>Select one tournament you want to View</h1>
        <div class="form-group">
            
            <div class="col-md-10">
                @Html.DropDownList("TournamentList", String.Empty)
                
            </div>
        </div>
        <br/>
    </div>
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Ongoing tournmant</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body " style="display: block;">
                <div class="table-responsive">

                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>

                                    @Html.DisplayNameFor(model => model.name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.startDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ageBracket)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.grade)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.priority)
                                </th>
                                <th>
                                    <b>Organizer</b>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SPORT1.name)
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action( "Details", new { id = item.tournamentId })">
                                        @Html.DisplayFor(modelItem => item.name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.startDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ageBracket)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.grade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.priority)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SPORT1.name)
                                    </td>
                                    @foreach (var org in item.AspNetUsers)
                                    {
                                        if (User.Identity.Name == org.UserName)
                                        {
                                           
                                        }
                                    }
                                    <td>
                                    @if (User.IsInRole("Admin"))
    {
                                         @Html.ActionLink("Edit", "Edit", new { id = item.tournamentId })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.tournamentId })
                                    }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
</div>
</div>
            </div>

</div>
</div>
<div class="btn-group">



    @if (User.IsInRole("Admin"))
    {
        <a class=" btn btn-block btn-success" href='@Url.Action("Create","Tournament")'><b>Create New tournamants</b></a>
    }

    <a class=" btn btn-block btn-success" href='@Url.Action("History", "Tournament")'><b>tournamants History</b></a>
</div>
<script>
    $("#TournamentList").change(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("TournamentSelected", "Tournament")",
           
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({'tournamentID':$(this).val()}),
        success: function (data) { alert(data); },
        failure: function (errMsg) {
            alert(errMsg);
        }
    });

    })
    </script>