@using userprofile.Models;
@model Tuple<TEAM, List<PLAYER>>



<div class="row">
    <div class="col-md-12">
        <div class="box" style="height: 300px;">
            <div class="box-body">
               
                @{
                    if (User.IsInRole("Admin") || User.IsInRole("Admin") || Model.Item1.AspNetUser.UserName == User.Identity.Name)
                    {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.teamId }, new { @class="btn btn-warning pull-right"})
                    }
                }

                <div class="fa fa-angle-left">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            <hr/>
               
                    <dl class="dl-horizontal">
                        <dt>
                            <b>Team Name</b>
                        </dt>
                        <dd>
                            @Model.Item1.name
                        </dd>
                        <dt>
                            <b>Age Bracket</b>
                        </dt>
                        <dd>
                           @Model.Item1.ageBracket
                        </dd>
                        <dt>
                            <b>grade</b>
                        </dt>
                        <dd>
                            @Model.Item1.grade
                        </dd>
                        <dt>
                            <b>Short name</b>
                        </dt>
                        <dd>
                            @Model.Item1.shortName
                        </dd>
                      <dt>
                          <b>Manger Name</b>
                        </dt>
                        <dd>
                            <a href="@Url.Action("Details", "Account", new { id = Model.Item1.AspNetUser.UserName })">
                                @Model.Item1.AspNetUser.firstName
                                @Model.Item1.AspNetUser.lastName
                            </a>
                                
                        </dd>                    
                      
                    </dl>
                
               
        </div>
    </div>
        @if (Model.Item2.Count > 0)
        { //if there is no team data, don't display the table

            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Player name</th>
                                    <th>Position</th>
                                    <th>Shirt Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{foreach (var item in Model.Item2)
                                {

                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Details", "Account", new { id = item.AspNetUser.UserName })">
                                                @item.AspNetUser.firstName @item.AspNetUser.lastName
                                            </a>

                                        </td>
                                        <td>
                                            @item.position
                                        </td>
                                        <td>
                                            @item.shirtNum
                                        </td>
                                    </tr>
                                }

                                }
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        }
        </div>
    </div>
                    
                
