@model userprofile.Models.TEAM

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        <div class="box" style="height: 300px;">
            <div class="box-body">
               
                    @Html.ActionLink("Edit", "Edit", new { id = Model.teamId }, new { @class="btn btn-warning pull-right"})
                <div class="fa fa-angle-left">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            <hr/>
               
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ageBracket)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ageBracket)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.grade)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.grade)
                        </dd>
                      <dt>
                            Manger Name
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AspNetUser.firstName)
                            @Html.DisplayFor(model => model.AspNetUser.lastName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.managerId)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.managerId)
                        </dd>
                      
                      
                    </dl>
                
               
        </div>
    </div>
        </div>
    </div>
                    
                
