@using userprofile.Models;
@model Tuple<TEAM, List<PLAYER>, List<TEAMIN>, List<MATCH>>

<script src="/Scripts/AdminLTE/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<link href="/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-body">

                    @{
                        if (User.IsInRole("Admin") || User.IsInRole("Organizer") || Model.Item1.AspNetUser.UserName == User.Identity.Name)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.teamId }, new { @class = "btn btn-warning pull-right" })
                        }
                    }




                    <dl class="dl-horizontal">
                        <dt>
                            <b>Team Name</b>
                        </dt>
                        <dd>
                            @Model.Item1.name
                        </dd>
                        <dt>
                            <b>Age Bracket</b>
                        </dt>
                        <dd>
                            @Model.Item1.ageBracket
                        </dd>
                        <dt>
                            <b>grade</b>
                        </dt>
                        <dd>
                            @Model.Item1.grade
                        </dd>
                        <dt>
                            <b>Short name</b>
                        </dt>
                        <dd>
                            @Model.Item1.shortName
                        </dd>
                        <dt>
                            <b>Manger Name</b>
                        </dt>
                        <dd>
                            <a href="@Url.Action("Details", "Account", new { id = Model.Item1.AspNetUser.UserName })">
                                @Model.Item1.AspNetUser.firstName
                                @Model.Item1.AspNetUser.lastName
                            </a>

                        </dd>

                    </dl>


                </div>
            </div>
        </div>
        @if (Model.Item1.TEAMINS.Count > 0)
        {
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Active Tournaments</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->

                    <div class="box-body " style="display: block;">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Tournament Name
                                        </th>
                                        <th>
                                            Tournament start date
                                        </th>
                                        <th>
                                            Rank
                                        </th>
                                        <th>
                                            wins
                                        </th>
                                        <th>
                                            losses
                                        </th>
                                        <th>
                                            draws
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var team in @Model.Item1.TEAMINS)
                                    {
                                        if (team.TOURNAMENT1.status > 0)
                                        {
                                        <td>
                                            <a href="@Url.Action("Details", "Tournament", new { id = team.tournament })">
                                                @team.TOURNAMENT1.name
                                            </a>
                                        </td>
                                        <td>
                                            @team.TOURNAMENT1.startDate
                                        </td>
                                        <td>
                                            @team.currentPosition
                                        </td>
                                        <td>
                                            @team.wins
                                        </td>
                                        <td>
                                            @team.losses
                                        </td>
                                        <td>
                                            @team.draws
                                        </td>
                                        }

                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
        }
        <div class="row">
                @if (Model.Item2.Count > 0)
                { //if there is no team data, don't display the table
                     <div class="col-md-6">

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Players</h3>

                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Player name</th>
                                            <th>Position</th>
                                            <th>Shirt Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (var item in Model.Item2)
                                        {

                                            <tr>
                                                <td>
                                                    <a href="@Url.Action("Details", "Account", new { id = item.AspNetUser.UserName })">
                                                        @item.AspNetUser.firstName @item.AspNetUser.lastName
                                                    </a>

                                                </td>
                                                <td>
                                                    @item.position
                                                </td>
                                                <td>
                                                    @item.shirtNum
                                                </td>
                                            </tr>
                                        }

                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                }
            @if (Model.Item3.Count > 0)
            {
                <div class="col-md-6">
                    <div class="box box-danger collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Previous Tournaments</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div><!-- /.box-header -->

                        <div class="box-body " style="display: none;">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Tournament Name
                                            </th>
                                            <th>
                                                Tournament start date
                                            </th>
                                            <th>
                                                Rank
                                            </th>
                                            <th>
                                                wins
                                            </th>
                                            <th>
                                                losses
                                            </th>
                                            <th>
                                                draws
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var team in @Model.Item3)
                                        {
                                            <td>
                                                <a href="@Url.Action("Details", "Tournament", new { id = team.tournament })">
                                                    @team.TOURNAMENT1.name
                                                </a>
                                            </td>
                                            <td>
                                                @team.TOURNAMENT1.startDate
                                            </td>
                                            <td>
                                                @team.currentPosition
                                            </td>
                                            <td>
                                                @team.wins
                                            </td>
                                            <td>
                                                @team.losses
                                            </td>
                                            <td>
                                                @team.draws
                                            </td>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.box-body -->
                        </div>
                    </div>
            }
            else
            {
                    <div class="col-md-6">
                    <div class="box box-danger collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">No past tournaments</h3>
                            <div class="box-tools pull-right">
                            </div>
                        </div><!-- /.box-header -->

                        </div>
                    </div> 
            }
           
        </div>
        <div class="row">
            @if (Model.Item4.Count> 0)
            {
                <div class="col-md-12">
                    <div class="box box-primary collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Upcoming matches</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div><!-- /.box-header -->

                        <div class="box-body " style="display: none;">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Location
                                            </th>
                                            <th>
                                                Home team
                                            </th>
                                            <th>
                                                Away team
                                            </th>
                                            <th>
                                                Match length
                                            </th>
                                            <th>
                                                Contributes points to rank
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var match in @Model.Item4)
                                        {
                                            <tr>
                                                <td>
                                                    @match.matchDate
                                                </td>
                                                <td>
                                                    @match.LOCATION.name, @match.LOCATION.city
                                                </td>
                                                <td>
                                                    @match.TEAM.name
                                                </td>
                                                <td>
                                                    @match.TEAM1.name
                                                </td>
                                                <td>
                                                    @match.matchLength
                                                </td>
                                                <td>
                                                    @if (match.countsToDraw)
                                                    {
                                                        <p>yes</p>
                                                    }
                                                    else
                                                    {
                                                        <p>no</p>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.box-body -->
                        </div>
                    </div>
            }
            else
            {
                 <div class="col-md-12">
                    <div class="box box-danger collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">No upcoming matches</h3>
                            <div class="box-tools pull-right">
                            </div>
                        </div><!-- /.box-header -->

                        </div>
                    </div>
            }
        
        </div>

    </div>


</section><!-- /.content -->
