@model userprofile.Models.TEAM

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                       
                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.teamId)
                        @Html.HiddenFor(model => model.status)
                        @Html.HiddenFor(model => model.sport)
                        <div class="form-group">
                            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.name)
                                @Html.ValidationMessageFor(model => model.name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ageBracket, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ageBracket)
                                @Html.ValidationMessageFor(model => model.ageBracket)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.grade, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.grade)
                                @Html.ValidationMessageFor(model => model.grade)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.shortName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.shortName)
                                @Html.ValidationMessageFor(model => model.shortName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.managerId, "Manager", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("managerId")

                                @Html.ValidationMessageFor(model => model.managerId)
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
            
