@model IEnumerable<userprofile.Models.TEAM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ageBracket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOURNAMENT1.sport)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ageBracket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOURNAMENT1.sport)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.teamID }) |
            @Html.ActionLink("Details", "Details", new { id=item.teamID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.teamID })
        </td>
    </tr>
}

</table>
