@model IEnumerable<userprofile.Models.TEAM>

@{
    ViewBag.Title = "Team Management";
    
}


<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<div class="row">
    
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Team Name
                                </th>
                                <th>
                                   Age Group
                                </th>
                                <th>
                                   Grade
                                </th>
                                <th>
                                    Manager Name
                                </th>

                                <th>
                                    Manger ID
                                </th>
                               @if (User.IsInRole("Admin"))
                               {
                                <td>
                                   
                                </td>
                               }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                        {
                        <tr>
                            <td>

                                <a href="@Url.Action("Details", new { id = item.teamId })">
                                    @Html.DisplayFor(modelItem => item.name)
                                </a>
                                @*@Html.ActionLink("Details", "Details", new { id = item.mID })*@


                            </td>
                            @*<td>
                        @Html.DisplayFor(modelItem => item.winnerID)
                    </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.ageBracket)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.grade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AspNetUser.firstName)
                                  @Html.DisplayFor(modelItem => item.AspNetUser.lastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.managerId)
                            </td>

                            
@if (User.IsInRole("Admin"))
{
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.teamId }, new { @class = "btn btn-danger pull-right" })
    </td>
}
    
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
                </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div class="col-md-3">
            @if (User.IsInRole("Admin"))
            {
                <div class="btn-group">
                    <a class=" btn btn-block btn-success" href='@Url.Action("Create", "team")'><b>Create New Team</b></a>
                </div>
            }
           
           
        </div>
    </div><!-- /.col -->
    
</div><!-- /.row -->