@model userprofile.Models.TYPE

@{
    ViewBag.Title = "Edit Type";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <h4>@Model.name</h4>
                <hr/>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                      
                        @Html.ValidationSummary(true)
                       @* <div class="form-group">
                            @Html.LabelFor(model => model.typeId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.typeId)
                                @Html.ValidationMessageFor(model => model.typeId)
                            </div>
                        </div>
                           *@
                        @Html.HiddenFor(model => model.name)

                        <div class="form-group">
                            @Html.LabelFor(model => model.description, "Description:",htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.description)
                                @Html.ValidationMessageFor(model => model.description)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.priority, "Priority:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.priority)
                                @Html.ValidationMessageFor(model => model.priority)
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.status, "Status:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.status)
                                @Html.ValidationMessageFor(model => model.status)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
</div>
</div>
</div>
</div>