@model userprofile.Models.LOCATION

@{
    ViewBag.Title = "Map";
    ViewBag.TitleSmall = "Your position";
}

<div class="row">
    <div class="col-xs-8">
        <div class="box" style="background-color:rgba(255, 255, 255,0.7)">
           
           
            <div class="box-body">
                <div class="fa fa-angle-left">
                    @Html.ActionLink("Back to List", "Index")
                </div>
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.EditorForModel();
                    @Html.AntiForgeryToken()
                    @*<div class="col-md-4">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Carousel</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="http://placehold.it/900x500/39CCCC/ffffff&amp;text=advertising here" alt="First slide">
                                            <div class="carousel-caption">
                                                First Slide
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="http://placehold.it/900x500/3c8dbc/ffffff&amp;text=advertising here" alt="Second slide">
                                            <div class="carousel-caption">
                                                Second Slide
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="http://placehold.it/900x500/f39c12/ffffff&amp;text=advertising here" alt="Third slide">
                                            <div class="carousel-caption">
                                                Third Slide
                                            </div>
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <span class="fa fa-angle-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <span class="fa fa-angle-right"></span>
                                    </a>
                                </div>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>*@
                    <div class="form-horizontal">

                        
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @*    @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.name)
                                        @Html.ValidationMessageFor(model => model.name)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.price, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.price)
                                        @Html.ValidationMessageFor(model => model.price)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.street, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.street)
                                        @Html.ValidationMessageFor(model => model.street)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.snum, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.snum)
                                        @Html.ValidationMessageFor(model => model.snum)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.city, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.city)
                                        @Html.ValidationMessageFor(model => model.city)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.postcode, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.postcode)
                                        @Html.ValidationMessageFor(model => model.postcode)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.phoneNum, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.phoneNum)
                                        @Html.ValidationMessageFor(model => model.phoneNum)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.state, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.state)
                                        @Html.ValidationMessageFor(model => model.state)
                                    </div>
                            *@
                        </div>

                    </div>
                }
                
</div>
</div>
</div>
</div>