@model userprofile.Models.PLAYER

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
    <div class="box-body">
        
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.teamId, "teamId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("teamId", String.Empty)
                    @Html.ValidationMessageFor(model => model.teamId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.userId, "userId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("userId", String.Empty)
                    @Html.ValidationMessageFor(model => model.userId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.position, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.position)
                    @Html.ValidationMessageFor(model => model.position)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.shirtNum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.shirtNum)
                    @Html.ValidationMessageFor(model => model.shirtNum)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        </div>
        }

       
    </div>
</div>
</div>
