@model userprofile.Models.PLAYER

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PLAYER</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.teamId)
        @Html.HiddenFor(model => model.status)
        @Html.HiddenFor(model => model.userId)

        <div class="form-group">
            @Html.LabelFor(model => model.position, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.position)
                @Html.ValidationMessageFor(model => model.position)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shirtNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.shirtNum)
                @Html.ValidationMessageFor(model => model.shirtNum)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


