@model userprofile.Models.QUALIFICATION

<div class="row">
    <div class="col-sm-12">
        <div class="box" style="background-color:rgba(255, 255, 255,0.7)">
            <div class="box-body">
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/jqueryval")


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>QUALIFICATION</h4>
                        <hr />
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.name)
                                @Html.ValidationMessageFor(model => model.name)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.sport, "sport", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("sport", String.Empty)
                                @Html.ValidationMessageFor(model => model.sport)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.supDesc, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.supDesc)
                                @Html.ValidationMessageFor(model => model.supDesc)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        </div>
    </div>
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
