@model userprofile.Models.admineOfferViewModel
@{
    ViewBag.Title = "Home Page";
    
}

<script src="~/Scripts/AdminLTE/plugins/chartjs/Chart.js"></script>
<script>

		var pieData = [
				{
					value: @Model.acceptedOffers.Count(),
					color:"#F7464A",
					highlight: "#FF5A5E",
					label: "acceptedOffers"
				},
				{
					value: @Model.declinedOffers.Count(),
					color: "#46BFBD",
					highlight: "#5AD3D1",
					label: "declinedOffers"
				},
				{
					value: @Model.pendingOffers.Count(),
					color: "#FDB45C",
					highlight: "#FFC870",
					label: "pendingOffers"
				},
				{
					value: @Model.notassignedOffers.Count(),
					color: "#949FB1",
					highlight: "#A8B3C5",
					label: "notassignedOffers"
				},
				

			];

			window.onload = function(){
			    var ctx = document.getElementById("pieChart").getContext("2d");
				window.myPie = new Chart(ctx).Pie(pieData);
			};



</script>

<section class="content-header">
    <h1>
        Calendar
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Browser Usage</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="chart-responsive">
                                <canvas id="pieChart" height="155" width="227" style="width: 227px; height: 155px;"></canvas>
                            </div><!-- ./chart-responsive -->
                        </div><!-- /.col -->
                        <div class="col-md-4">
                            <ul class="chart-legend clearfix">
                                <li><i class="fa fa-circle-o text-red"></i> acceptedOffers</li>
                                
                                <li><i class="fa fa-circle-o text-yellow"></i>pendingOffers</li>
                                <li><i class="fa fa-circle-o text-aqua"></i>  declinedOffers</li>
                                
                                <li><i class="fa fa-circle-o text-gray"></i>offer not assigned</li>
                            </ul>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                    @*<ul class="nav nav-pills nav-stacked">
                        <li><a href="#">United States of America <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
                        <li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a></li>
                        <li><a href="#">China <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
                    </ul>*@
                </div><!-- /.footer -->
            </div>
        </div>
            <div class="col-md-4">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">accepted offeres</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body " style="display: block;">
                        <table id="example2" class="table table-bordered table-hover">
                            @foreach (var offer in @Model.acceptedOffers)
                            {
                                <tr><td>@offer.REFEREE.AspNetUser.firstName @offer.REFEREE.AspNetUser.lastName</td></tr>

                            }
                        </table>
                    </div><!-- /.box-body -->
                </div>


            </div>
            @*<div class="col-md-3">

                    <h4 class="box-title">Draggable Events</h4>
                </div>
                <div class="box-body">
                    <!-- the events -->
                    <div id="external-events">
                        <div class="external-event bg-green">Lunch</div>
                        <div class="external-event bg-yellow">Go home</div>
                        <div class="external-event bg-aqua">Do homework</div>
                        <div class="external-event bg-light-blue">Work on UI design</div>
                        <div class="external-event bg-red">Sleep tight</div>
                        <div class="checkbox">
                            <label for="drop-remove">
                                <input type="checkbox" id="drop-remove" />
                                remove after drop
                            </label>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /. box -->*@
            @*<div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create Event</h3>
                    </div>
                    <div class="box-body">
                        <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                            <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                            <ul class="fc-color-picker" id="color-chooser">
                                <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <div class="input-group">
                            <input id="new-event" type="text" class="form-control" placeholder="Event Title">
                            <div class="input-group-btn">
                                <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>*@<!-- /.col -->
            <div class="col-md-4">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">declined offeres</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body " style="display: block;">
                        <table id="example2" class="table table-bordered table-hover">
                            @foreach (var offer in @Model.declinedOffers)
                            {
                                <tr><td>@offer.REFEREE.AspNetUser.firstName @offer.REFEREE.AspNetUser.lastName</td></tr>

                            }
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">empty position </h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

            </div>
        </div><!-- /.box-header -->
        <div class="box-body " style="display: block;">
            <table id="example2" class="table table-bordered table-hover">
                @foreach (var match in @Model.matches)
                {
                    <tr><td>@match.matchDate</td></tr>

                }
            </table>
        </div><!-- /.box-body -->
    </div>

</section><!-- /.content -->
