@* 
 This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
    TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@

@using Microsoft.AspNet.Identity

@{
    ViewBag.Layout = null;
}

<script>


    $.ajax({
        // edit to add steve's suggestion.
        //url: "/ControllerName/ActionName",
        url: "/home/getJsonNotifications",
        success: function (data) {
            // your data could be a View or Json or what ever you returned in your action method 
            // parse your data here
            addNotifications(data)
        }
    });

    function addNotifications(thing) {
        var somethingSet = false;

        var obj = jQuery.parseJSON(thing);
        if(parseInt(obj[obj.length-1]) > 0){
            $( ".label-warning" )
            .html(obj[obj.length-1]);
        }
        else{
            $( ".label-warning" )
            .html("");
        }

        //clear the notifications
        $(".menu").html("");

        for (i = 0; i < obj.length - 1 ; i++) {
            if (obj[i].charAt(0) != "0") {
                addRowToMenu(obj[i]);
                somethingSet = true;
            }
        }

        //if nothing was set in the notifications, everything is good
        if (!somethingSet) {
            addRowToMenu("Everything is good!");
        }

    }

    function addRowToMenu(thing) {
        $(".menu").append($('<li><a href="@Url.Action("Display", "Notifications", new { })"><i class="ion ion-ios-people info"></i>' + thing + '</a></li>'));
    }

</script>

<header class="main-header">
    <!-- Logo -->
    <a href='@Url.Action("index", "Home")' class="logo"><b>RefereeAO</b></a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">  </span>
                    </a>
                    <ul class="dropdown-menu">
                         <!--<li class="header">You have 10 notifications</li>-->
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="ion ion-ios-people info"></i> Notification title
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="@Url.Action("Display", "Notifications", new { })">View all</a></li>
                    </ul>
                </li>
                        
                <!-- User Account: style can be found in dropdown.less -->

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       @Html.Action("showProfile", "Account", new { id = User.Identity.GetUserName() })    
        
        <span class="hidden-xs">Hello @User.Identity.GetUserName()</span>
        </a>


        <ul class="dropdown-menu" style="width:150px;">

            @Html.Partial("_LoginPartial")

        </ul>
        </li>
        </ul>
        </div>
    </nav>
</header>