@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()


   
        <div class="user-panel">

            <div class="pull-left image">

                @Html.Action("showProfile", "Account", new { id = User.Identity.GetUserName() })

            </div>

            <div class="pull-left info">
                <a href="@Url.Action("Details","Account", new { id = User.Identity.GetUserName()})">
                    <p>Hello @User.Identity.GetUserName()</p>
                </a>
                    <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
</div>
        </div>
       
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
