@model userprofile.Models.OFFER

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OFFER</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.sport, "sport", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sport", String.Empty)
                @Html.ValidationMessageFor(model => model.sport)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.matchId, "matchId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("matchId", String.Empty)
                @Html.ValidationMessageFor(model => model.matchId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.refId, "refId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("refId", String.Empty)
                @Html.ValidationMessageFor(model => model.refId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status)

                @Html.DropDownList("statusList", (List<SelectListItem>)ViewBag.statusList, new { @Name = "re.ID" })
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateOfOffer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateOfOffer, new { type="date"})
               
                @Html.ValidationMessageFor(model => model.dateOfOffer)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
