@model userprofile.Models.OFFER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OFFER</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATCH.matchId)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.typeOfOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeOfOffer)
        </dd>

        <dd>
            <a href="@Url.Action( "Details","Match", new { id = Model.matchId })">
                @Html.DisplayFor(model => model.matchId)
            </a>
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATCH.status)
        </dt>

        <dd>
            @{
                switch (Model.status)
                {
                    case 1:
                        <p>Pending referee response</p>
                        break;
                    case 2:
                        <p>Referee accepted</p>
                        break;
                    case 3:
                        <p>Referee declined</p>
                        <dt>
                            @Html.DisplayNameFor(model => model.declinedReason)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.declinedReason)
                        </dd>
                        break;
                    case 4:
                        <p>Unassigned</p>
                        break;
                        
                    case 5:
                        <p>Awaiting auto assignment</p>
                        break;
                     
                    default:
                        <p>Shits broken yo</p>
                        break;     
                }   
                
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.offerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
