@model userprofile.Models.OFFER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OFFER</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATCH.matchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATCH.matchId)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.REFEREE.availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REFEREE.availability)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.SPORT1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPORT1.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.offerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
