@model IEnumerable<userprofile.Models.OFFER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfOffer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATCH.matchId)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfOffer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATCH.matchId)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.offerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.offerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.offerId })
        </td>
    </tr>
}

</table>
