@model userprofile.Models.OneOffAVAILABILITY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OneOffAVAILABILITY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOnOrOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOnOrOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        

    </dl>
</div>

