@model IEnumerable<userprofile.Models.OneOffAVAILABILITY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeOnOrOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REFEREE.sport)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeOnOrOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REFEREE.sport)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.availabilityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.availabilityId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.availabilityId })
        </td>
    </tr>
}

</table>
