@model userprofile.Models.matchViewModel

@{
    ViewBag.Title = "";
}
@*<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="~/Scripts/AdminLTE/plugins/locationPicker/locationpicker.jquery.js"></script>*@

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <div class="fa fa-angle-left">
                    @Html.ActionLink(" Back to List", "Index")
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <label class="control-label col-md-2">Match Date</label>
                            
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.createdMatch.matchDate)
                                @Html.ValidationMessageFor(model => model.createdMatch.matchDate)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Location</label>
                            <div class="col-md-10">
                                @Html.DropDownList("location", (SelectList)ViewBag.locationId, String.Empty, new { @Name = "createdMatch.locationId" })
                                @Html.ValidationMessageFor(model => model.createdMatch.locationId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.teamAId, "Home Team Name", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                
                                @Html.DropDownList("teamaID", (SelectList)ViewBag.teamaID, String.Empty, new { @Name = "createdMatch.teamaID" })
                                @Html.ValidationMessageFor(model => model.createdMatch.teamAId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.teamBId, "Away Team Name", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("teamaID", (SelectList)ViewBag.teamaID, String.Empty, new { @Name = "createdMatch.teambID" })
                                @Html.ValidationMessageFor(model => model.createdMatch.teamBId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.matchLength, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.createdMatch.matchLength)
                                @Html.ValidationMessageFor(model => model.createdMatch.matchLength)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.halfTimeDuration, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.createdMatch.halfTimeDuration)
                                @Html.ValidationMessageFor(model => model.createdMatch.halfTimeDuration)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.offernum, "Number Of Offer", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select id="offernum" name="offernum">
                                    <option>        </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.tournamentId, "Tournament", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("tournament", (SelectList)ViewBag.tournamentId, String.Empty, new { @Name = "createdMatch.tournamentId" })
                                
                                @Html.ValidationMessageFor(model => model.createdMatch.tournamentId)
                            </div>
                        </div>
                        
                        
						<div class="form-group" id="t1" hidden>
							@Html.LabelFor(model => model.q1, "Offer 1 Type", new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("types", (SelectList)ViewBag.types, String.Empty, new { @Name = "type1" })
								@Html.ValidationMessageFor(model => model.type1)
							</div>
						</div>
							<div class="form-group" id="q1" hidden>
								@Html.LabelFor(model => model.q1, "Offer 1 Qualification", new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									@Html.DropDownList("qualification", (SelectList)ViewBag.qualification, String.Empty, new { @Name = "q1" })
									@Html.ValidationMessageFor(model => model.createdMatch.tournamentId)
								</div>
							</div>
						<div class="form-group" id="ql1" hidden>
							@Html.LabelFor(model => model.ql1, "Offer 1 Qualification Level", new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ql1)
								@Html.ValidationMessageFor(model => model.ql1)
							</div>
						</div>
							

							<div class="form-group" id="t2" hidden>
								@Html.LabelFor(model => model.q1, "Offer 2 Type", new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									@Html.DropDownList("types", (SelectList)ViewBag.types, String.Empty, new { @Name = "type2" })
									@Html.ValidationMessageFor(model => model.type2)
								</div>
							</div>
                            <div class="form-group" id="q2" hidden>
                                @Html.LabelFor(model => model.q2, "Offer 2 Qualification", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("qualification", (SelectList)ViewBag.qualification, String.Empty, new { @Name = "q2" })
                                    @Html.ValidationMessageFor(model => model.createdMatch.tournamentId)
                                </div>
                               
                            </div>
                        <div class="form-group" id="ql2" hidden>
                            @Html.LabelFor(model => model.ql2, "Offer 2 Qualification Level", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ql2)
                                @Html.ValidationMessageFor(model => model.ql2)
                            </div>

                        </div>

						<div class="form-group" id="t3" hidden>
							@Html.LabelFor(model => model.q3, "Offer 3 Type", new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("types", (SelectList)ViewBag.types, String.Empty, new { @Name = "type3" })
								@Html.ValidationMessageFor(model => model.type3)
							</div>
						</div>
                            <div class="form-group" id="q3" hidden>
                                @Html.LabelFor(model => model.q3, "Offer 3 Qualification", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("qualification", (SelectList)ViewBag.qualification, String.Empty, new { @Name = "q3" })
                                    @Html.ValidationMessageFor(model => model.createdMatch.tournamentId)
                                </div>
                              
                            </div>
                        <div class="form-group" id="ql3" hidden>
                            @Html.LabelFor(model => model.ql3, "Offer 3 Qualification Level", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ql3)
                                @Html.ValidationMessageFor(model => model.ql3)
                            </div>

                        </div>
                        

                            <div class="form-group">
                                <div class="col-md-offset-2 col-sm-1">
                                    <input type="submit" value="Create" id="newoffers" class="btn btn-success" />
                                </div>
                            </div>
                            <div id="offers">
                            </div>
                        </div>
                 
                }

            </div>

        </div>
    </div>
</div>
@section scripts{

    <script>
        $(function () {
            $('input[name="createdMatch.matchDate"]').daterangepicker({
                singleDatePicker: true,
                timePicker: true,
                timePickerIncrement: 15,
                locale: {
                    format: 'MM/DD/YYYY h:mm A'
                }
            });
        });
        $("#offernum").change(function () {
            switch($(this).val()) {
                case "1":
                    $('#q1').show("slow", function () {

                    });
                    $('#q2').hide("slow", function () {

                    });
                    $('#q3').hide("slow", function () {

                    });
                    $('#ql1').show("slow", function () {

                    });
                    $('#ql2').hide("slow", function () {

                    });
                    $('#ql3').hide("slow", function () {

                    });
                    $('#t1').show("slow", function () {

                    });
                    $('#t2').hide("slow", function () {

                    });
                    $('#t3').hide("slow", function () {

                    });
                    break;
                case "2":
                    $('#q2').show("slow", function () {

                    });
                    $('#q1').show("slow", function () {

                    });
                    $('#q3').hide("slow", function () {

                    });
                    $('#ql2').show("slow", function () {

                    });
                    $('#ql1').show("slow", function () {

                    });
                    $('#ql3').hide("slow", function () {

                    });
                    $('#t2').show("slow", function () {

                    });
                    $('#t1').show("slow", function () {

                    });
                    $('#t3').hide("slow", function () {

                    });
                    break;
                case "3":
                    $('#q2').show("slow", function () {

                    });
                    $('#q1').show("slow", function () {

                    });
                    $('#q3').show("slow", function () {

                    });
                    $('#ql2').show("slow", function () {

                    });
                    $('#ql1').show("slow", function () {

                    });
                    $('#ql3').show("slow", function () {

                    });

                    $('#t2').show("slow", function () {

                    });
                    $('#t1').show("slow", function () {

                    });
                    $('#t3').show("slow", function () {

                    });
                default:
                    break;
                   
            }
        });
      




                             </script>
}