@model userprofile.Models.MmatchViewModel

@{
    ViewBag.Title = "";
}
@*<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="~/Scripts/AdminLTE/plugins/locationPicker/locationpicker.jquery.js"></script>*@

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <div class="fa fa-angle-left">
                    @Html.ActionLink(" Back to List", "Index")
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <label class="control-label col-md-2">Match Date</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.createdMatch.matchDate)
                                @Html.ValidationMessageFor(model => model.createdMatch.matchDate)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Location</label>
                            <div class="col-md-10">
                                @Html.DropDownList("location", (SelectList)ViewBag.locationId, String.Empty, new { @Name = "createdMatch.locationId" })
                                @Html.ValidationMessageFor(model => model.createdMatch.locationId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.teamAId, "Home Team Name", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.DropDownList("teamaID", (SelectList)ViewBag.teamaID, String.Empty, new { @Name = "createdMatch.teamaID" })
                                @Html.ValidationMessageFor(model => model.createdMatch.teamAId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.teamBId, "Away Team Name", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("teamaID", (SelectList)ViewBag.teamaID, String.Empty, new { @Name = "createdMatch.teambID" })
                                @Html.ValidationMessageFor(model => model.createdMatch.teamBId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.matchLength, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.createdMatch.matchLength)
                                @Html.ValidationMessageFor(model => model.createdMatch.matchLength)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.halfTimeDuration, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.createdMatch.halfTimeDuration)
                                @Html.ValidationMessageFor(model => model.createdMatch.halfTimeDuration)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.offernum, "Number Of Offer", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="number" id="offernum" min="0" max="9" step="1">
                            </div>
                            
                        </div>
                        <div hidden>
                            @Html.DropDownList("qualification", (SelectList)ViewBag.qualification, String.Empty, new { @id = "q" })
                            @Html.DropDownList("types", (SelectList)ViewBag.types, String.Empty, new { @id = "type" })
                        </div>
                        <div class="form-group">
                           <label class = "control-label col-md-2">

                           </label>
                            <div class=col-md-10 id="newoffers">
                            </div>
                       

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.createdMatch.tournamentId, "Tournament", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("tournament", (SelectList)ViewBag.tournamentId, String.Empty, new { @Name = "createdMatch.tournamentId" })

                                @Html.ValidationMessageFor(model => model.createdMatch.tournamentId)
                            </div>
                        </div>





                        <div class="form-group">
                            <div class="col-md-offset-2 col-sm-1">
                                <input type="submit" value="Create" id="newoffers" class="btn btn-success" />
                            </div>
                        </div>
                        <div id="offers">
                        </div>
                    </div>

                }

            </div>

        </div>
    </div>
</div>
@section scripts{

    <script>
        var i = 0;
        var offerbox = $("#newoffers");
        var dropforQ = $("#q");
        var dropforT = $("#type");
        $(function () {
            $('input[name="createdMatch.matchDate"]').daterangepicker({
                singleDatePicker: true,
                timePicker: true,
                timePickerIncrement: 15,
                locale: {
                    format: 'DD/MM/YYYY h:mm A'
                }
            });
        });
        $("#offernum").change(function () {
            var offernum = $(this).val();

            if (i == offernum) {
                //do nothing
            } else if (i < offernum) {
                //add new offer
                var more = offernum - i;
                for (more; more > 0; more--) {

                }
                for (i; i < offernum; i++) {
                    var newdiv = jQuery('<div/>', {
                        id: 'offerdiv' + i,
                        //   href: 'http://google.com',
                        //   title: 'Become a Googler',
                        //   rel: 'external',
                        //   text: 'Go to Google!'
                    })
                    var newDFQ = dropforQ.clone();
                    var newDFT = dropforT.clone();

                    newDFQ.attr("name", "offers[" + i + "].q");
                    newDFT.attr("name", "offers[" + i + "].type");
                    selectLevel = "<input type='number' min=0 max=10 name='offers[" + i + "].level' >"
                    newdiv.append(newDFQ);
                    newdiv.append(newDFT);
                    newdiv.append(selectLevel);
                    newdiv.hide();
                    var newofferhtml = "<div id=offerdiv" + i + ">" + newDFQ.html() + "</div>";
                    //   var newofferhtml = "<div id=offerdiv" + i + ">lolo</div>";
                    newdiv.appendTo(offerbox).show("normal");

                    // offerbox.appendTo(newDFQ);
                    //  offerbox.appendTo(dropforT);
                }
                i = $(this).val();
            } else if (i > $(this).val()) {
                for (i; i > offernum; i--) {
                    //   $("#offerdiv" + (i - 1)).hide('slow', function () { $("#offerdiv" + (i - 1)).remove(); });
                    $("#offerdiv" + (i - 1)).remove();
                }
            }
        });





    </script>
}