@model userprofile.Models.MATCH

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MATCH</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.matchDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.matchDate)
                @Html.ValidationMessageFor(model => model.matchDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.location, "location", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("location", String.Empty)
                @Html.ValidationMessageFor(model => model.location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.teamaID, "teamaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("teamaID", String.Empty)
                @Html.ValidationMessageFor(model => model.teamaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.teambID, "teambID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("teambID", String.Empty)
                @Html.ValidationMessageFor(model => model.teambID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.winnerID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.winnerID)
                @Html.ValidationMessageFor(model => model.winnerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tournament, "tournament", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tournament", String.Empty)
                @Html.ValidationMessageFor(model => model.tournament)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
