@using userprofile.Models;
@model Tuple<MATCH, List<OFFER>>
@{

}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.matchId }, new { @class = "btn btn-warning pull-right" })
                @Html.ActionLink("Manage Offers", "manageOffer", new { id = Model.Item1.matchId }, new { @class = "btn bg-purple pull-right" })
                <div class="fa fa-angle-left">
                    @Html.ActionLink(" Back to List", "Index")
                </div>
                <hr />

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.matchDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.matchDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.teamAScore)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.teamAScore)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.teamBScore)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.teamBScore)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.matchLength)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.matchLength)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.halfTimeDuration)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.halfTimeDuration)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.LOCATION.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.LOCATION.name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.TEAM.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.TEAM.name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.TEAM1.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.TEAM1.name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.TOURNAMENT.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.TOURNAMENT.name)
                    </dd>

                </dl>
            </div>
        </div>

        <div class="box">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>RefId</th>


                                <th>

                                    Type

                                </th>

                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item2)
                            {

                                if (item.status == 4)
                                {
                                     <tr>
                                        <td>
                                            NULL
                                        </td>
                                        <td>
                                            @item.typeOfOffer
                                        </td>
                                        <td>
                                            @item.status
                                        </td>
                                    </tr>
                                }
                                else { 
                                    <tr>
                                        <td>
                                            <a href="@Url.Action( "Details","REFEREE", new { id = item.refId })">
                                                @item.refId
                                            </a>
                                        </td>
                                        <td>
                                            @item.typeOfOffer
                                        </td>
                                        <td>
                                            @item.status
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>