@model userprofile.Models.MATCH

@{
    ViewBag.Title = "Match Details";
}

<div class="row">
    <div class="col-sm-12">
		<div class="box">
			<div class="box-body">
				<p>
					@Html.ActionLink("Edit", "Edit", new { id = Model.matchId }, new { @class = "btn btn-warning pull-right" })
				</p>
				<div class="fa fa-angle-left">
					@Html.ActionLink("Back to List", "Index")
					<hr />
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.matchDate)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.matchDate)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.winnerId)
						</dt>
						<dd>
							@{
                                if (Model.winnerId == 0){
                                    
                                }
                                else if (Model.winnerId == 1){
                                    Html.DisplayFor(model => model.winnerId);
                                }
                                else if (Model.winnerId == 2){
                                    Html.DisplayFor(model => model.winnerId);
                                }
                                else if (Model.winnerId == 3){
                                    Html.Display("it was a draw!");
                                }
							}
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.LOCATION.name)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.LOCATION.name)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.TEAM.name)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.TEAM.name)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.TEAM1.name)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.TEAM1.name)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.TOURNAMENT.sport)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.TOURNAMENT.sport)
						</dd>
					</dl>
				</div>
			</div>
		</div>
        </div>
    </div>
                
