@using userprofile.Models;
@model Tuple<MATCH, List<OFFER>>

@{

}

<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @if (User.IsInRole("Admin") || User.IsInRole("Organizer"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.matchId }, new { @class = "btn btn-warning pull-right" })
                    @Html.ActionLink("Manage Offers", "manageOffer", new { id = Model.Item1.matchId }, new { @class = "btn bg-purple pull-right" })
                }
                
                
                

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.matchDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.matchDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.teamAScore)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.teamAScore)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.teamBScore)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.teamBScore)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.matchLength)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.matchLength)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.halfTimeDuration)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item1.halfTimeDuration)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.LOCATION.name)
                    </dt>

                    <dd>
                        <a href="@Url.Action( "Details","location", new { id = Model.Item1.locationId })">
                            @Html.DisplayFor(model => model.Item1.LOCATION.name)
                        </a>
                       
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.TEAM.name)
                    </dt>

                    <dd>
                        <a href="@Url.Action( "Details","team", new { id = Model.Item1.teamAId })">
                            @Html.DisplayFor(model => model.Item1.TEAM.name)
                        </a>
                       
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item1.TEAM1.name)
                    </dt>

                    <dd>
                        <a href="@Url.Action( "Details","team", new { id = Model.Item1.teamBId })">
                            @Html.DisplayFor(model => model.Item1.TEAM1.name)
                        </a>
                      
                    </dd>

                    <dt>
                        Tournament Name
                    </dt>

                    <dd>
						<a href="@Url.Action( "Details","Tournament", new { id = Model.Item1.tournamentId })">
							@Html.DisplayFor(model => model.Item1.TOURNAMENT.name)
							</a>
					</dd>
                </dl>
            </div>
        </div>

        <div class="box">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Referee Name</th>

                                <th>

                                    Type

                                </th>

                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item2)
                            {

                                if (item.status == 4 || item.status == 5)
                                {
                                     <tr>
                                        <td>
                                            NULL
                                        </td>
                                         <td> <a href="@Url.Action("Edit", "offer", new { id = item.offerId })">
                                                  No referee set yet - placeholder for link to go to assigning a ref to this offer
                                        </a>
                                         
                                         </td>
                                        <td>
                                            @item.typeOfOffer
                                        </td>
                                        <td>
                                            @item.status
                                        </td>
                                    </tr>
                                }
                                else { 
                                    <tr>
                                        <td>
                                            <a href="@Url.Action( "Details","REFEREE", new { id = item.refId })">
                                                @item.REFEREE.AspNetUser.firstName
												@item.REFEREE.AspNetUser.lastName
                                            </a>
                                        </td>

                                        <td>
											<a href="@Url.Action( "Details","Types", new { id = item.typeOfOffer })">
												@item.typeOfOffer
											</a>
										</td>
                                        <td>
                                            @item.status
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>