@model userprofile.Models.MATCH

@{
    ViewBag.Title = null;
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <div class="fa fa-angle-left">
                    @Html.ActionLink(" Back to List", "Index")
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.mID)
                        <div class="form-group">
                            @Html.LabelFor(model => model.matchDate, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.matchDate)
                                @Html.ValidationMessageFor(model => model.matchDate)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.location, "location", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("location", String.Empty)
                                @Html.ValidationMessageFor(model => model.location)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.teamaID, "teamaID", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("teamaID", String.Empty)
                                @Html.ValidationMessageFor(model => model.teamaID)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.teambID, "teambID", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("teambID", String.Empty)
                                @Html.ValidationMessageFor(model => model.teambID)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.winnerID, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.winnerID)
                                @Html.ValidationMessageFor(model => model.winnerID)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tournament, "tournament", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("tournament", String.Empty)
                                @Html.ValidationMessageFor(model => model.tournament)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                    @section scripts{
                        <script type="text/javascript">
                            $(function () {
                                $('input[name="matchDate"]').daterangepicker({
                                    singleDatePicker: true,
                                    timePicker: true,
                                    timePickerIncrement: 15,
                                    locale: {
                                        format: 'MM/DD/YYYY h:mm A'
                                    }
                                });
                            });


                        </script>
                    }

                }

            </div>
        </div>
        </div>
    </div>
                
