@model userprofile.Models.MATCH

@{
    ViewBag.Title = null;
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <div class="fa fa-angle-left">
                    @Html.ActionLink(" Back to List", "Index")
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.matchId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.matchDate, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.matchDate)
                                @Html.ValidationMessageFor(model => model.matchDate)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.locationId, "Location Id", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("locationId")
                                @Html.ValidationMessageFor(model => model.locationId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.teamAId, "Home Team Id", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("teamaID", String.Empty)
                                @Html.ValidationMessageFor(model => model.teamAId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.teamBId, "Home Team Id", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("teambID", String.Empty)
                                @Html.ValidationMessageFor(model => model.teamBId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.teamAScore, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.teamAScore)
                                @Html.ValidationMessageFor(model => model.teamAScore)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.teamBScore, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.teamBScore)
                                @Html.ValidationMessageFor(model => model.teamBScore)
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.tournamentId, "Tournament Id", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("tournamentId", String.Empty)
                                @Html.ValidationMessageFor(model => model.tournamentId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.matchLength, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.matchLength)
                                @Html.ValidationMessageFor(model => model.matchLength)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                    @section scripts{
                        <script type="text/javascript">
                            $(function () {
                                $('input[name="matchDate"]').daterangepicker({
                                    singleDatePicker: true,
                                    timePicker: true,
                                    timePickerIncrement: 15,
                                    locale: {
                                        format: 'MM/DD/YYYY h:mm A'
                                    }
                                });
                            });


                        </script>
                    }

                }

            </div>
        </div>
        </div>
    </div>
                
