@model IEnumerable<userprofile.Models.MATCH>

@{
   
    ViewBag.Title = "Match Management";
    
}


<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>

   

    Select one tournament you want to View: @Html.DropDownList("TournamentList", String.Empty)
<br/>
  

   @if (Session["tournamentID"] != null)
   {
    <span class="label label-default">@Session["tournamentname"]</span>
   }
    <div class="row">

	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">

			</div><!-- /.box-header -->
			<div class="box-body">
				<div class="table-responsive">
					<table id="example2" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>
									Date
								</th>
								<th>
									Location
								</th>
								<th>
									Tournament
								</th>
								<th>
									Home Team

								</th>
								<th>
									Away Team
								</th>

								@if (User.IsInRole("Admin") || User.IsInRole("Assignor") || User.IsInRole("Organizer")) //change to include tournament once implemented multiple tournaments
                                {
									<th></th>
								}


							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model) {
								<tr>
									<td>

										<a href="@Url.Action( "Details", new { id = item.matchId })">
											@Html.DisplayFor(modelItem => item.matchDate)
											@if (item.status == 6) { 
												@:DELAYED!
											}
										</a>
									</td>

									<td>
										<a href="@Url.Action( "Details","location", new { id = item.LOCATION.locationId })">
											@Html.DisplayFor(modelItem => item.LOCATION.name)
										</a>
									</td>
									<td>
										<a href="@Url.Action( "Details","tournament", new { id = item.tournamentId })">
											@Html.DisplayFor(modelItem => item.TOURNAMENT.name)
										</a>
									</td>
									<td>
										<a href="@Url.Action( "Details","team", new { id = item.TEAM.teamId })">
											@Html.DisplayFor(modelItem => item.TEAM.name)
										</a>
									</td>

									<td>
										<a href="@Url.Action("Details", "team", new { id = item.TEAM1.teamId })">
											@Html.DisplayFor(modelItem => item.TEAM1.name)
										</a>
									</td>


									@{
								if (User.IsInRole("Admin") || User.IsInRole("Organizer")) {
									<td>

										@Html.ActionLink("Manage Offers", "manageOffer", new { id = item.matchId }, new { @class = "btn bg-purple pull-right" })
										@Html.ActionLink("Details", "Details", new { id = item.matchId }, new { @class = "btn bg-green pull-right" })
									</td>

								}
								else if (User.IsInRole("Assignor")) {
									<td>
										@Html.ActionLink("manageOffer", "manageOffer", new { id = item.matchId }, new { @class = "btn btn-purple pull-right" })
									</td>
								}
									}


								</tr>
							}
						</tbody>

					</table>
				</div>
			</div><!-- /.box-body -->

		</div><!-- /.box -->

	</div><!-- /.col -->

	<div class="pull-right" style="padding-right:15px;">
		<div class="btn-group">

			@if (User.IsInRole("Admin") || User.IsInRole("Organizer")) {
				<a class=" btn btn-block btn-success" href='@Url.Action("Create","match")'><b>Create New Match</b></a>
			}
		</div>
	</div>

	<div class="col-xs-6 col-sm-4">
		<div class="btn-group">
			<a class=" btn btn-block btn-success" href='@Url.Action("History","match")'><b>Match History</b></a>
		</div>

	</div>

	<div class="col-xs-6">

	</div>
</div>

<script>
    $("#TournamentList").change(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("TournamentSelected", "Tournament")",

            contentType: "application/json; charset=utf-8",
        data: JSON.stringify({ 'tournamentID': $(this).val() }),
        success: function (data) { alert(data); },
        failure: function (errMsg) {
            alert(errMsg);
        }
    });

    });
    function uploadFile() {
       
        var file = document.getElementById('input-4').files[0];
        var formData = new FormData();
        formData.append("file_name", file);
        formData.append("type","user")
        ajax = new XMLHttpRequest();
        
        ajax.onreadystatechange=function()
        {
            if (ajax.readyState == 4 && ajax.status == 200)
            {
                document.getElementById("myDiv").innerHTML = ajax.responseText;
            }
        }
        ajax.open("POST", "/ExcelManagement/importXml");
        ajax.send(formData);
        
    }
</script>

