@model userprofile.Models.offersViewModels
@{
    ViewBag.Title = "manageOffer";
    int i = 0;
    int j = 0;
}
<style>
    .hidde {
        display: none;
    }
</style>

<div class="col-md-12">
    <div class="box-solid">
        <div class="box-body">

            @using (Html.BeginForm())
            {
                <div class="row col-md-12">
                    @foreach (var item in Model.offers)
                    {

                        if (item.status == 5 || item.status == 4)
                        {
                            <div class="well col-lg-4 col-md-12" id="@i" hidden>
                                <div class="form-group">
                                    <p>Please select a Referee :</p>
                                    @Html.DropDownList("referees", (List<SelectListItem>)ViewBag.referees, "select one referees", new { @Name = "offer[" + i + "][refID]" })
                                    <input type="text" value="@item.offerId" name="offer[@i][ID]" hidden>
                                </div>
                                <div class="form-group">
                                    <p>The issue date of the offer is: </p>
                                    <div class=" label label-default">N/A</div>
                                </div>
                                <div class="form-group">
                                    <p>The state of the offer is: </p>
                                    <div class="label label-warning">@Html.DisplayFor(modelItem => item.status)</div>
                                </div>

                                @{j++;}

                            </div>

                        }
                        else
                        {

                            <div class="well col-lg-4 col-md-12" id="@i">
                                @Html.ActionLink("Delete", "Delete", "offer", new { id = item.offerId }, new { @class = "btn btn-danger pull-right" })
                                <div class="form-group">
                                    <p>Please select a Referee :</p>
                                    <select name="offer[@i][refID]">
                                        @foreach (var selection in ViewBag.referees)
                                        {
                                            if (item.refId.ToString() == selection.Value)
                                            {

                                                <option value="@selection.Value" selected>@selection.Text</option>

                                            }
                                            else
                                            {

                                                <option value="@selection.Value">@selection.Text</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <input type="text" value="@item.offerId" name="offer[@i][ID]" hidden>

                                <div class="form-group">
                                    <p>The issue date of the offer is: </p>
                                    <div class=" label label-default"> @Html.DisplayFor(modelItem => item.dateOfOffer, new { @id = "date" })</div>
                                </div>
                                <div class="form-group">
                                    <p>The state of the offer is: </p>
                                    <div class="label label-warning">@Html.DisplayFor(modelItem => item.status)</div>
                                </div>




                            </div>

                        }
                        i++;
                    }
                </div>
                <div class="col-md-6" id="addnew">
                    @if (j == 0) { }
                    else
                    {



                        <a href="#" id="addnewoffer" class="btn btn-success" onclick="newOffer()">Add New Offer</a>



                    }

                    @Html.HiddenFor(model => model.mID)
                    <input type="text" id="flag" value="@j" hidden>



                    <input onload="check()" type="submit" value="Create" class="btn btn-success pull-right" />

                </div>
            }

        </div>
    </div>
</div>

<script>
    var i = $("#flag").val();

    function newOffer() {
        var j = 3 - i;
        $("#" + j).show("slow", function () {
            // Animation complete.
        });

        i--;
        if (i < 1) {

            $("#addnew").css("display", "none");
        }
    }


</script>
