@model userprofile.Models.REFEREEqualViewModel

@{
    
    ViewBag.Title = "Create Referee";
}



<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                       
                        <hr />
                        @Html.ValidationSummary(true)
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.re.availability, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.re.availability)
                                @Html.ValidationMessageFor(model => model.re.availability)
                            </div>
                        </div>*@
						<div class="form-group">
							@Html.LabelFor(model => model.re.userId, "Username", new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("userId", (SelectList)ViewBag.ID, new { @Name = "re.userId" })
								@Html.ValidationMessageFor(model => model.re.userId)
							</div>
						</div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.re.distTravel, "Distance Travel", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.re.distTravel,new {max="9999",min="0"})
                                @Html.ValidationMessageFor(model => model.re.distTravel)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="re_prefGrade">Max Games per day</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.re.maxGames)
                                @Html.ValidationMessageFor(model => model.re.maxGames)
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            
                                <label class="control-label col-md-2">Qualifications</label>
                            
                            
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.srqvm.quals)
                            </div>
                        </div>
                                    
                               
                            @*@foreach (var item in model.re.srqvm.quals)
                                {
                                @Html.EditorFor(m=>item)
                                }*@
                            


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
                
</div>
</div>
</div>
</div>