@using userprofile.Models;
@model Tuple<REFEREE, List<OFFER>>
@{

}

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.refId }, new { @class = "btn btn-warning pull-right" })
                
                <div>
                    <h4>Edit referee</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            <b>Name</b>

                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Item1.AspNetUser.firstName)
                            @Html.DisplayFor(model => model.Item1.AspNetUser.lastName)
                        </dd>
                        <dt>
                            <b>Phone number</b>

                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Item1.AspNetUser.phoneNum)
                        </dd>
                        <dt>
                            <b>Email</b>

                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Item1.AspNetUser.email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Item1.distTravel)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Item1.distTravel)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Item1.rating)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Item1.rating)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Item1.AspNetUser.UserName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Item1.AspNetUser.UserName)
                        </dd>
                    </dl>
                </div>

                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Match Id</th>


                                <th>

                                    Tournament

                                </th>
                                <th>
                                    Referee Type
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item2)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action( "Details","match", new { id = item.matchId })">
                                            @item.matchId
                                        </a>
                                    </td>
                                    <td>
                                        @item.MATCH.tournamentId
                                    </td>
                                    <td>
                                        @item.typeOfOffer
                                    </td>
                                    <td>
                                        @item.status
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
    </div>
</div>