@model userprofile.Models.REFEREE

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box" style="background-color:rgba(255, 255, 255,0.7)">

            <div class="box-body">
                @Html.ActionLink("Edit", "Edit", new { id = Model.refID }, new {@class="btn btn-warning pull-right" })
                <div class="fa fa-angle-left">

                    @Html.ActionLink("Back to List", "Index")
                </div>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.availability)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.availability)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.distTravel)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.distTravel)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.prefAge)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.prefAge)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.prefGrade)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.prefGrade)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AspNetUser.UserName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SPORT1.name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SPORT1.name)
                        </dd>
                    </dl>
                </div>
               


</div>
</div>
</div>
</div>