@model userprofile.Models.REFEREE

@{
    ViewBag.Title = "";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body">
                
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.refId)
                        @Html.HiddenFor(model => model.userId)
                        @Html.HiddenFor(model => model.status)
                        <div class="form-group">
                            <div class="control-label col-md-2"> <b>Name</b> </div>
                            <div class="col-md-10">

                                @Html.DisplayFor(model => model.AspNetUser.firstName)
                                @Html.DisplayFor(model => model.AspNetUser.lastName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AspNetUser.UserName, "UserName", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.DisplayFor(model => model.AspNetUser.UserName)
                            </div>
                        </div>
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.availability, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.availability)
                                    @Html.ValidationMessageFor(model => model.availability)
                                </div>
                            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.distTravel, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.distTravel)
                                @Html.ValidationMessageFor(model => model.distTravel)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.maxGames, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.maxGames)
                                @Html.ValidationMessageFor(model => model.maxGames)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.rating, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.rating)
                                @Html.ValidationMessageFor(model => model.rating)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>