@model IEnumerable<userprofile.Models.REFEREE>

@{
    ViewBag.Title = "Referee Management";
}















<script src="/Scripts/AdminLTE/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<link href="/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>




<div class="row">

    <div class="col-xs-12">
        <div class="box">
           
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.distTravel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prefAge)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prefGrade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AspNetUser.UserName)
                            </th>
                            <th>
                               
                                    @Html.DisplayNameFor(model => model.USERQUALs)
                                
                               
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SPORT1.name)
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                   
                                    <a href="@Url.Action("Details", new { id = item.refID })">
                                    </a>
                                    @*@Html.ActionLink("Details", "Details", new { id = item.mID })*@


                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.distTravel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prefAge)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prefGrade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                                </td>
                                <td>
                                   
                                    <a href="@Url.Action("changequal",new {id=item.refID})">
                                        @Html.ListBox("Id", new SelectList(item.USERQUALs, "qID")) </a>
</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SPORT1.name)
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.refID }, new { @class = "btn btn-danger pull-right" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-3">
        <div class="btn-group">
            <a class=" btn btn-block btn-success" href='@Url.Action("Create","REFEREE")'><b>Create New Match</b></a>
        </div>
    </div>
</div><!-- /.row -->