@model userprofile.Models.TEAM

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-10">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.teamID })
                </div>
            </div>
                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ageBracket)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ageBracket)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.grade)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.grade)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AspNetUser.UserName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.TOURNAMENT1.sport)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TOURNAMENT1.sport)
                        </dd>
                    </dl>
                </div>
               
        </div>
    </div>
    </div>
                    @Html.ActionLink("Back to List", "Index")
                
