@model userprofile.Models.PLAYER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PLAYER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shirtNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shirtNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEAM.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEAM.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
